@import "cookies.css";

:root {
  --io-primary-color: #0073AA;
  --io-secondary-color: #444444;

  --io-archive-title-fg-color: #636363;

  --io-footer-bg-color: var(--io-secondary-color);
  --io-footer-fg-color: #F2F2F2;

  --io-link-color: #0099E6;
  --io-link-hover-color: #0099E6;

  --io-post-title-link-color: var(--io-primary-color);

  --io-post-footer-border-color: #EDEDED;
  --io-post-footer-fg-color: #757575;

  --io-post-footer-link-color: #757575;
  --io-post-footer-link-hover-color: var(--io-primary-color);

  --io-post-nav-link-color: var(--io-primary-color);

  --io-post-meta-fg-color: #757575;

  --io-widget-bg-color: #F7F7F7;
  --io-widget-fg-color: var(--io-secondary-color);

  --io-widget-link-color: var(--io-secondary-color);
  --io-widget-link-hover-color: var(--io-primary-color);
}


/*
 * Main styles
 */
body {
  font-family: "Droid Serif", Arial, Verdana;
  color: var(--io-secondary-color);
}

a {
    outline: none;
    color: var(--io-link-color);
    text-decoration: none;
}

a:hover {
  color: var(--io-link-hover-color);
}

.w-70 {
  width: 70%!important;
}


/*
 * Header
 */
.header {
  background-color: var(--io-primary-color);
}

.site-title {
  font-size: 1.75rem;
  padding: 0;
}

.site-title:hover {
  text-decoration: none;
}

.site-description {
  font-size: 0.8rem;
  padding: 0;
}

.menu-item {
  font-size: 0.87rem;
  text-transform: uppercase;
}

.menu-item-active {
  font-size: 0.87rem;
  font-weight: 700;
  text-transform: uppercase;
}


/*
 * Pagination
 */
.post-pagination {
  margin-bottom: 2rem;
  text-align: center;
}

.post-pagination .page-numbers {
  font-size: 1.1rem;
  margin: 0px 7px;
}

.post-pagination .page-numbers a {
  outline: none;
  color: var(--io-primary-color);
  text-decoration: none;
}


/*
 * Post
 */
.post {
  margin-bottom: 2rem;
}

@media screen and (max-width : 640px)
{
  .post-title {
    font-size: 1.2rem;
  }

  .post-content {
    font-size: 1rem;
  }
}

@media screen and (min-width : 641px)
{
  .post-title {
    font-size: 2.2rem;
  }

  .post-content {
    font-size: 1.1rem;
  }
}

.post-meta {
  font-size: 0.9rem;
  color: var(--io-post-meta-fg-color);
  margin-top: 0.9rem;
  padding-bottom: 0.6rem;
}

.post-header {
  margin-bottom: 1.5rem;
}

.post-content {
  text-align: justify;
}

.post-content p {
  line-height: 1.8;
}

.post-footer-term {
  border-bottom: 1px solid var(--io-post-footer-border-color);
  border-top: 1px solid var(--io-post-footer-border-color);
  font-size: 1rem;
  padding: 0.5rem;
}

.post-footer-term a {
  color: var( --io-post-footer-link-color);
}

.post-footer-term a:hover {
  color: var(--io-post-footer-link-hover-color);
}

.term-icon {
  color: var(--io-primary-color);
}

.post-navigation {
  padding: 1rem;
  border: 1px solid #EDEDED;
  margin-bottom: 6rem;
}

.nav-previous a {
  color: var(--io-post-nav-link-color);
  font-size: 1.13rem;
  outline: none;
  text-decoration: none;
}

.nav-next a {
  color: var(--io-post-nav-link-color);
  font-size: 1.13rem;
  outline: none;
  text-decoration: none;
}


/*
 * Page
 */
.page {
  margin-bottom: 2rem;
}

.page-title {
  font-size: 2.2rem;
}

.post-title a {
  color: var(--io-post-title-link-color);
}

.page-header {
  margin-bottom: 1.5rem;
}

.page-content {
  font-size: 1.1rem;
  text-align: justify;
}

.page-content p {
  line-height: 1.8;
}


/*
 * Archive
 */
.archive-header {
  border-left: 2px solid var(--io-primary-color);
  margin-bottom: 3.4rem;
  padding: 0.5rem;
}

.archive-title {
  font-weight: normal;
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--io-archive-title-fg-color);
}


/*
 * Widget
 */
 .widget {
  margin-bottom: 2rem;
 }

.widget .widget-title {
  background-color: var(--io-widget-bg-color);
  color: var(--io-widget-fg-color);
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.38rem;
  text-transform: uppercase;
}

.widget .item-list {
  list-style: none;
  margin: 0;
  padding: 0 0.38rem;
}

.widget .item-list > .item-list {
  padding: 0 1rem;
}

.widget .item-list .item {
  padding: 0.38rem 0;
}

.widget .item-list .item a {
  color: var(--io-widget-fg-color);
  font-size: 0.9rem;
  line-height: 1.85;
  text-decoration: none;
}

.widget .item-list .item a {
  color: var(--io-widget-link-color);
}

.widget .item-list .item a:hover {
  color: var(--io-widget-link-hover-color);
}


/*
 * Footer
 */
.footer {
  background-color: var(--io-footer-bg-color);
  color: var(--io-footer-fg-color);
 }

.copyrights {
  font-size: 0.9rem;
}


/*
 * Fix for empty line at the end of code highlight
 */
pre.highlight pre {
  margin-bottom: 0;
}
