---
layout: base
---


<header class="archive-header">
  <h1 class="archive-title mb-0">
    {%- if page.type == "month" -%}
      Monthly Archives: <span>{{ page.date | date: "%B %Y" }}</span>
    {%- else -%}
      {{ page.type }} Archives: <span>{% translate key: {{ page.title }} %}</span>
    {%- endif -%}
  </h1>
</header>

{%- assign posts = page.posts -%}

{%- if posts.size > 0 -%}

  {%- for post in posts -%}
    {% include post.html content=post.excerpt post=post show_link=true %}
  {%- endfor -%}

{%- endif -%}
